body{
    background-color:  hsl(212, 45%, 89%);
    text-align: center;
}

.maindiv{
    width: 20%;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    margin: 150px auto;
    border-radius: 5%;
    height: 450px;
}

.qrimg{
    border-radius: 4%;
    width: 90%;
    height: auto;
    margin: 15px 5px;

}

.mainpara{
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    width: 80%;
    margin: 0 auto;
}
.smallpara{
    font-size: 14px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    width: 83%;
    margin-top: 15px; 
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .maindiv{
        width: 85%;
        text-align: center;
        background-color: hsl(0, 0%, 100%);
        margin: 150px auto;
        border-radius: 5%;
        height: 450px;
    }
    .mainpara{
        font-size: 16px;
        font-weight: 700;
        color: hsl(218, 44%, 22%);
        font-family: 'Outfit', sans-serif;
        width: 70%;
        margin: 0 auto;
    }
    .smallpara{
        font-size: 12px;
        font-weight: 400;
        color: hsl(220, 15%, 55%);
        font-family: 'Outfit', sans-serif;
        width: 70%;
        margin-top: 15px; 
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
  }